<article class="waiting-feedback">
    <h3 class="waiting-feedback__title">Assunto da pergunta aparece aqui</h3>
    <p class="waiting-feedback__author">Carlos Henrique Santos</p>
    <p class="waiting-feedback__description">
        Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto 
        de processo formativo processo...
    </p>
    <div class="blur">
        <p class="blur-paragraph">Aguardando feedback dos autores</p> 
        <a class="blur-edit" (click)="editTopic()">Editar tópico</a>
    </div>
</article>
