<aside>
  <app-sidenav-component></app-sidenav-component>
</aside>
<div class="pagina">
  <header>
    <app-header-component></app-header-component>
  </header>
  <main>
    <div class="content" role="main">
      <section class="main-introducao">
          <h2 class="main-introducao__titulo">Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP</h2>
          <div class="main-introducao__citar">
            <div class="citar-buttons">
              <a href="" class="citar-buttons__item item-download-icon">
                <img src="../../../assets/download.svg">
                <span>Download</span>
              </a>
              <a href="" class="citar-buttons__item item-star-icon">
                <img src="../../../assets/star-filled.svg">
              </a>
              <a href="" class="citar-buttons__item">
                <img class="item-doi-icon" src="../../../assets/doi.svg">
              </a>
            </div>
            <h3 class="citar-titulo">como citar esse trabalho?</h3>
          </div>
      </section>
      <section class="main-video">
        <app-video-component></app-video-component>
        <app-details-component></app-details-component>
      </section>
      <app-summary-component></app-summary-component>
      <app-discussion-component></app-discussion-component>
    </div>
  </main>
  <footer>
    <img src="../../../assets/footer.png">
  </footer>
</div>
