<div class="header-info">
    <p class="header-info__paragrafo-simposio">Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
    <h2 class="header-info__titulo-simposio">Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</h2>
    <p class="header-info__paragrafo-issn">ISSN: 1234-5678</p>
</div>
<select class="header-language" name="language">
    <option class="header-language__ptbr" value="language-pt-br">PT, BR</option>
    <option class="header-language__enus" value="language-en-us">EN, US</option>
    <option class="header-language__eses" value="language-es-es">ES, ES</option>
</select>
<div class="header-perfil">
    <div class="header-perfil__info">
        <p class="header-perfil__info-paragrafo">Bem vindo!</p>
        <span class="header-perfil__info-email">{{ email }}</span>
    </div>
    <img src="../../../assets/alguem.jpg" class="header-perfil__foto">
    <span class="header-perfil__notificacao">2</span>
</div>
